:root {
  --clr-background: linear-gradient(
    to right bottom,
    #000000,
    #080808,
    #0f0f0f,
    #151515,
    #191919,
    #1c1c1c,
    #1f1f20,
    #222223,
    #242426,
    #262629,
    #29292d,
    #2b2b30
  );

  --clr-neon: hsl(128, 79%, 53%);
  --clr-neon2: hsl(0, 100%, 49%);
  --clr-bg: hsl(0, 0%, 23%);
  --clr-textshadow: 0 0 0.1em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
  --clr-boxshadow: inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon);
  --clr-boxshadow2: inset 0 0 0.5em 0 var(--clr-neon2),
    0 0 0.5em 0 var(--clr-neon2);
  font-family: "Roboto", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--clr-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

h1 {
  align-items: center;
  margin-top: -0.1rem;
  background: var(--clr-bg);
  font-size: 8rem;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  margin: 8px;
  text-shadow: var(--clr-textshadow);
  box-shadow: var(--clr-boxshadow);
}

h2 {
  align-items: center;
  margin-top: -0.1rem;
  background: var(--clr-bg);
  font-size: 8rem;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neon2);
  border: var(--clr-neon2) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  margin: 8px;
  text-shadow: var(--clr-textshadow2);
  box-shadow: var(--clr-boxshadow2);
}

h1 {
  animation: flickerAnimation 0.15s infinite;
  animation-iteration-count: 5;
  animation-delay: 1000ms;
}
h2 {
  animation: flickerAnimation 0.15s infinite;
  animation-iteration-count: 200;
}

@keyframes flickerAnimation {
  0% {
    opacity: 0.4;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
